@IMPORT url('navbar.css');
body {
	font-family: Helvetica, Verdana, Arial;
	color: #454837;
	font-size: 12pt;	
}

div {
	border: none;
}

div.root {
	width: 900px;
	margin: 0 auto;
}

div.header {
	height: 100px;
}

div.header #left {
	float: left;
}

div.header #right {
	float: right;
}

div.content {
	min-height: 500px;
}

div.footer {
	font-size: 9pt;
	color: #B3B3B3;
	text-align: center;
	padding-top: 10px;
	border-top: 1px dashed #e0e3e1;
}

#centered {
	margin: 0 auto;
}

div.headerlink a:link, a:visited {
color: #ffffff;
text-decoration: none
}
div.headerlink a:hover {
background:#66cc66;
/* borda arredondada da div para webkit*/
-webkit-border-radius: 2px;
 
/* borda arredondada da div moz*/
-moz-border-radius: 2px;
}
div.headerlink a:active {
text-decoration: none
}