
div .inputs {
	border-radius:10px;
	font-size: 10pt;
	float:left;
	margin-left:20px;
	width:635px;
}

div .inputs label {
	display:block;
	margin-top:10px;
}

fieldset {
	margin-top:15px;
	border-radius:10px;
	border: none;
	padding:20px 0 20px 20px;
}

legend {
	font-weight: bold;
	font-size:14pt;
	text-align:center;
	line-height: 40px;
	width:100%;
	padding-bottom:5px;
}

.button {
	margin-top: 20px;
	font-weight: bold;
	line-height: 1;
	padding: 6px 10px;
	cursor: pointer;
	font-size: 11pt;
	height: 35px;
	min-width: 150px; padding-left : 20px;
	padding-right: 20px;
	vertical-align: middle;
	color: #fff;
	text-align: center;
	text-shadow: 0 -1px 1px #64799e;
	/* Background gradient */
	background: #55d400;
	background: -moz-linear-gradient(top, #55d400 0%, #009900 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#55d400),
		to(#009900));
	/* Border style */
	border: 1px solid #00a800;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/* Box shadow */
	-moz-box-shadow: inset 0 1px 0 0 #aec3e5;
	-webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
	box-shadow: inset 0 1px 0 0 #aec3e5;
	padding-left: 20px;
}