html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #C0C4C5 url(../images/page-body-bg.png) repeat;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #2E2E2E;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-family: 'Abel', sans-serif;
	font-weight: 400;
}
ul {
	list-style:none;
}
p, ol, ul {
	margin-top: 0px;
}

p, ol {
	line-height: 200%;
}

input {
	border-radius:3px;
	padding: 4px 5px;
	border:1px solid #7d8183;
	outline:0;
	background:#fefefe;
}

strong {
}

a {
	color: #006389;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
	background: url(../images/wrapper-bg.png) repeat;
}

#wrapper-bgtop {
	background: url(../images/wrapper-top-bg.png) repeat-x left top;
}

#wrapper-bgbtm {
	overflow: hidden;
	margin-bottom: 20px;
	background: url(../images/wrapper-bottom-bg.png) repeat-x left bottom;
}

.container {
	width: 1000px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header {
	overflow: hidden;
	width: 840px;
	height: 173px;
	margin: 0px auto;
	padding: 0px 30px;
}

/** LOGO */

#logo {
	float: right;
	width: 220px;
}

#logo h1, #logo p {
	float: left;
	margin: 0px;
	line-height: normal;
}

#logo h1 a {
	display: block;
	letter-spacing: -1px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #151A1D;
	font-size: 34px;
	color: #FFFFFF;
}

/** NAV MAP */

#nav-map {
	color:#FFF;
	padding:10px;
	margin-top:110px;
	line-height:45px;
	text-indent:15px;
	font-size:15pt;
	margin-left:-30px;
	float:left;
	background: #414d52 url(../images/nav-map-bg.png);
	border: 2px solid #455258;
	border-radius:3px;
	height:45px;
	padding-right:25px;
}

/** SEARCH */

#search {
	float: right;
	width: 200px;
	height: 35px;
	margin-top:15px;
}

#search form {
	margin: 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: 2px solid #455258;
	border-radius:5px;
	background: #2f3a40;
	width:200px;
}

#search input.blank {
	color: #7C7768;
}

#search-text {
	outline:0;
	padding-left:10px;
	width: 165px;
	float:left;
	height: 32px;
	background: #2f3a40;
	border:none;
	border-radius:5px;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #e7e7e7;
}

#search-submit {
	background: #343f45 url(../images/lupa.png);
	float:right;
	width:25px;
	height:25px;
	border:none;
	margin-top:5px;
	cursor:pointer;
}

/** MENU */

#menu {
	width: 830px;
	height: 53px;
	margin: 0px auto;
	padding: 0px 40px;
	background: url(../images/menu-bg.png) no-repeat left top;
	font-variant:small-caps;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	margin-right: 10px;
	padding-left: 5px;
}

#menu a {
	display: block;
	float: left;
	height: 53px;
	padding-right: 5px;
	line-height: 50px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #171D21;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: underline;
}

#menu span {
	display: inline-block;
	height: 53px;
	padding: 0px 10px 0px 10px;
}

#menu li.active {
	background: url(../images/menu-bgleft.png) no-repeat left center;
}

#menu li.active a {
	background: url(../images/menu-bgright.png) no-repeat right center;
	text-shadow: 1px 1px 1px #04435D;
	color: #FFFFFF;
}

#menu li.active span {
	background: url(../images/menu-repeatbg.png) repeat-x left center;
}

/** PAGE */

#page-sidebar {
	overflow: hidden;
	width: 900px;
	margin: 0px auto;
	padding: 0px 0px 40px 0px;
	background: #FFFFFF url(../images/page-content-bg.png) repeat-y center top;
	border: 1px solid #B2B9BD;
	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, .1);
	border-radius: 5px;
}

#page {
	overflow: hidden;
	width: 900px;
	margin: 0px auto;
	padding: 0px 0px 40px 0px;
	background: #FFFFFF;
	border: 1px solid #B2B9BD;
	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, .1);
	border-radius: 5px;
}

/** CONTENT */

#content-sidebar {
	float: right;
	width: 540px;
	padding: 40px 30px 0px 30px;
}

#content {
	float: right;
	padding: 40px 30px 0px 30px;
}

/** SIDEBAR */

#sidebar {
	float: left;
	width: 300px;
	text-shadow: 1px 1px 0px #FFFFFF;
}

#sidebar .title {
	display: block;
	width: 240px;
	height: 59px;
	margin-bottom: 20px;
	padding: 0px 30px 0px 30px;
	background: url(../images/sidebar-title-bg.png) no-repeat right top;
	line-height: 59px;
	text-shadow: 1px 1px 1px #161C1F;
	font-family: 'Abel', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
}

#sidebar p {
	margin: 0px 30px;
}

#sidebar ul {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

#sidebar li {
	margin: 0px 30px 0px 30px;
	padding: 10px 0px 10px 0px;
	background: url(../images/sidebar-separator-bg.png) repeat-x left bottom;
}

#sidebar li a {
	display: block;
}

#sidebar .first {
	background: none;
}

/** FOOTER */

#footer {
	overflow: hidden;
	height: 130px;
}

#footer p {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	text-shadow: 1px 1px 1px #FFFFFF;
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	color: #6F7071;
}

#footer a {
	color: #6F7071;
}

/** POST STYLE  */


.post {
	overflow: hidden;
	width:100%;
}

.post .title {
	display: block;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	letter-spacing: -3px;
	font-size: 40px;
	color: #2E2E2E;
}

.post .entry li {
	font-variant:small-caps;
	font-size:15pt;
	font-weight:bold;
	padding:8px 0;
	background: url(../images/sidebar-separator-bg.png) repeat-x left bottom;
	margin:15px 0;
}

.post .img-style1 {
	margin-bottom: 20px;
}

.post .posted {
	margin-top: -5px;
	padding: 0px 0px 10px 0px;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	color: #A9A9A9;
}

.post .posted a {
	color: #A9A9A9;
}

.post .meta {
	overflow: hidden;
	display: block;
	height: 50px;
	padding: 5px 20px;
	border: 1px solid #CDCDCD;
	box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 1);
	background: url(../images/meta-bg.jpg);
	text-shadow: 1px 2px 0px rgba(255, 255, 255, 1);
	font-family: 'Abel', sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #535353;
}

.post .meta a {
	color: #535353;
}

.post .meta .listed {
	float: left;
	padding-right: 25px;
	line-height: 50px;
	background: url(../images/meta-separator-bg.png) no-repeat right 50%;
}

.post .meta .tags {
	float: left;
	padding-left: 20px;
	line-height: 50px;
}

.post .meta .comments {
	float: right;
	line-height: 50px;
}

.post .img-margin {
	margin-bottom: 30px;
}

/*Tabela de Dados do Projeto*/
#tabela-dados-projeto {
	vertical-align:middle;
	margin-top:20px;
	font-size:11pt;
	width:100%;
}

#tabela-dados-projeto td, #tabela-dados-projeto th {
	text-align:center;
	padding:5px;
}

#tabela-dados-projeto tr {
	height:30px;
}

#tabela-dados-projeto .align-right {
	text-align:right;
}

#tabela-dados-projeto .align-left {
	text-align:left;
}

.custo-tr-title {
	height:40px;
	background:#eee;
}

/*Form de Cadastro de Projeto*/

#formCadastroProjeto input, #formCadastroProjeto select{
	width:70%;	
}
